<!-- index.html -->

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Links to like</title>

  <!-- CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="./assets/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./app.css?1">
</head>
<body>

<!-- <div class="sk-folding-cube absCenter">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>
 -->
<div class="allContent">
    <!-- navigation bar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="container-fluid">
          <a class="navbar-brand" href='/'> Links to like</a>
          <ul class="nav navbar-nav">
            <li><a href="/users">Пользователи</a></li>
            <!-- <li><a href="/comments">Комментарии</a></li> -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- main body of our application -->
    <div class="container" id="app">
      <form class="form-inline well" action="/api/v1/users" @submit="createUser">
        <p>Добавить </p>
        <div class="form-group">
          <label class="" for="userEmail">Email address</label>
          <input type="text" name="userEmail" class="control" v-model="userEmail" />
        </div>
        <div class="form-group">
          <label class="" for="userPassword">Password</label>
          <input type="text" name="userPassword" class="control" v-model="userPassword" />
        </div>
        <div class="form-group">
          <input type="submit">
        </div>
      </form>

      <table class="table table-striped">
        <thead>
          <tr>
            <td>Email:</td>
            <td>Type:</td>
            <td>Status:</td>
            <td></td>
          </tr>
        </thead>
        <tr v-for="user in usersFiltered">
          <td>{{ user.email }}</td>
          <td>{{ user.type }}</td>
          <td>{{ user.active ? 'Active' : 'Archived'}} </td>
          <td><button v-show="user.active" @click="deactivateUser(user.id, $event)">Deactivate</button></td>
        </tr>
      </table>
    </div>
  </div>
  <!-- JS -->
<!--   <script src="assets/vue.js"></script>
  <script src="assets/vue-resoucre.js"></script> -->
  <script src="https://yastatic.net/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="assets/stupidtable.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.8/d3.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>

  <script src="vue-app.js?1"></script>
</body>
</html>
